// Auto genetated file
[
{
"name" : "gost94 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "gost94" 
}
,
{
"name" : "gost94 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "gost94" 
}
,
{
"name" : "gost94 - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "gost94" 
}
,
{
"name" : "gost94 - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "gost94" 
}
]
