// Auto genetated file
[
{
"name" : "whirlpool - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - mipsel_n32" ,
"files" : "all" ,
"machdep" : "mipsel_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
,
{
"name" : "whirlpool - apple_ppc_32" ,
"files" : "all" ,
"machdep" : "apple_ppc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "whirlpool" 
}
]
