// Auto genetated file
[
{
"name" : "md4 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - x86_win32" ,
"files" : "all" ,
"machdep" : "x86_win32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - x86_win64" ,
"files" : "all" ,
"machdep" : "x86_win64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - mipsel_n32" ,
"files" : "all" ,
"machdep" : "mipsel_n32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
,
{
"name" : "md4 - apple_ppc_32" ,
"files" : "all" ,
"machdep" : "apple_ppc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"main" : "md4" 
}
]
